/* astrid should be at the very top and is the styling for the entire page */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('../img/sparkle.gif') ;
    background-size:auto;
    background-repeat: repeat;
  }

  #logo {
    padding: 0px;
  }
  
  #nav{
    background-color: rgb(15, 239, 222);
    font-family: 'Satisfy', cursive;
    height: 4rem;
  }
  
  .navbar-brand{
    /* background-color: rgb(230, 239, 2);
    border-radius: 0.2rem; */
    font-size: 1.9rem;
    justify-content: center;
    align-content: center;
  }
  
  #nav a {
    color: rgb(144, 20, 170);
    text-decoration: none;
  }
  
  #nav  a:hover{
    color: rgb(1, 223, 5);
  }
  
  #main{
    background-color: rgb(230, 239, 2);
    color: rgb(230, 239, 2);
    height: 25rem;
    overflow-y: scroll; 
    border: 6px dotted rgb(1, 223, 5);
  }
  
  .img-thumbnail{
    background-color: rgb(255, 0, 200);
    border-color: rgb(15, 239, 222);
    justify-content: flex-start;
  }
  
  #rainbow{
    background-color: black;
  }
  
  #main a{
    color: rgb(1, 223, 5);
  }
  
  #main a:hover{
    color: rgb(255, 0, 200);
  }
  
  h1{
    font-family: 'Mochiy Pop One', sans-serif;
  }
  
  p{
    font-family: 'Orbitron', sans-serif;
  }
  
  #main-right{
    background-color: rgb(1, 223, 5);
    overflow-y: scroll; 
    height: 45rem;
    border: 6px dotted rgb(255, 0, 200);
  }


  
  footer .fab {
    color:  rgb(0, 208, 175);
  
  }
  footer .fab:hover{
    color: rgb(1, 223, 5);
  }
  
  a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  #leftcolumn {
    font-family: 'Orbitron', sans-serif;
    height: 210px;
    background-color: rgb(255, 0, 200);
  }
  
  #leftcolumn a{
    color: rgb(0, 208, 175);
  }
  
  #leftcolumn a:hover{
    color: rgb(1, 223, 5);
  }
  
  #rightcolumn {
    font-family: 'Orbitron', sans-serif;
    height: 210px;
    background-color: rgb(255, 0, 200);
  }
  
  #footertwo {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(255, 0, 200);
  }
  
  
  